.hide {
 display: none;
}


body {
    background-color: rgb(38, 35, 35);
    color: white; 
    display: flex; 
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

.container {
    min-height: 400px;
    width: 80%;
    background-color: rgb(54, 54, 64);
    margin: 20px auto;
    padding: 40px;
    opacity: 0.8;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.search-container {
    flex-direction: row;
}

#episode-Label2{
    margin-right: 10px;
}

ul {
    list-style: none;
    margin-top: 30px;
}

footer{
    align-self: baseline;
}

/* Buttons & Input*/ 
button, input {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  margin-top: 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

}

button:active {
  top: 5px;
  left: 5px;
}

input {
    margin-top: 30px;
    margin-right: 10px;
}

footer { 
    min-height: 400px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    
}
